<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @tourtwo.fname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @tourtwo.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tourtwo.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tourtwo.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tourtwo.date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @tourtwo.cost %>
</p>

<%= link_to 'Edit', edit_tourtwo_path(@tourtwo) %> |
<%= link_to 'Back', tourtwos_path %>
