<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @tourpub.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @tourpub.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tourpub.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tourpub.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tourpub.date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @tourpub.cost %>
</p>

<%= link_to 'Edit', edit_tourpub_path(@tourpub) %> |
<%= link_to 'Back', tourpubs_path %>
